@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

$primary-color: #0e1116;
$secondary-color: #fe6458;
$text-color: #1a1a1a;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $primary-color;
    font-family: 'Quicksand', sans-serif;
}

.card {
    border-radius: 10px;
    background: #f4f4f4;
}

.search_icon {
    color: #fefffe;
    background: $primary-color;
}

.add-button {
 color: #fefffe;
}

.add-button svg:hover, .delete-btn svg:hover {
    color: $secondary-color;
} 

.modal-dialogue {
    background: #fefffe;
}

.modal-btn {
    background: $secondary-color;
    color: $primary-color;
    padding: 10px;
    border: none;
    outline: none;
    width: 100px;
    letter-spacing: 1px;
    
}

.modal-btn:hover {
    color: $secondary-color;
    background-color: transparent;
    border: 2px solid $secondary-color;
}